<form method="POST" action="<%= url %>?_method=DELETE">
    <button class = 'btn btn-delete' type="submit" <%=assetAllocationStatus ? "disabled":"" %>  <%=assetDeleteAccess? 'style=display:inline':'style=display:none'%>>Delete</button>
</form>