<!doctype html>
<html lang="en">

<style>
	
</style>
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link id="multistep-css" rel="stylesheet" href="multistep.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
	<link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
	/>
	<script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
	<script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
	<script defer src="javascripts/fileUpload.js"></script>

</head>
  <body>

	
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1><a href="index.html" class="logo">AMS</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
				<li>
                    <a href="#">Pending Item</a>
                </li>
	            </ul>
	          </li>
	          <li>
	              <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
				  <ul class="collapse list-unstyled" id="userSubmenu">
					<li>
						<a href="/user/index">List Users</a>
					</li>
					<li>
						<a href="/user/new">New User</a>
					</li>
					<li>
						<a href="#">Delete User</a>
					</li>
					<li>
						<a href="/user/audit">Audit</a>
					</li>
					<li>
						<a href="/user/audit2">Audit2</a>
					</li>
				  </ul> 	
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">New Asset</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/asset/index">List Asset</a>
                </li>
                <li>
                    <a href="/asset/new">Register Asset</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
              </ul>
	          </li>
	          <li>
              <a href="#">Assign/Reassign</a>
	          </li>
	          <li>
              <a href="#assetTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Register Asset</a>
			  <ul class="collapse list-unstyled" id="assetTypeSubmenu">
                <li>
                    <a href="/assetType/index">List Asset Type</a>
                </li>
                <li>
                    <a href="/assetType/new">Register Asset Type</a>
                </li>
                
              </ul>
	          </li>
			  <li>
				<a href="#contractorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contractors</a>
				<ul class="collapse list-unstyled" id="contractorSubmenu">
				  <li>
					  <a href="/contractor/index">List Contractors</a>
				  </li>
				  <li>
					  <a href="/contractor/new">Register Contractor</a>
				  </li>
				  
				</ul>
				</li>
				<li>
					<a href="#recentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Recents</a>
					<ul class="collapse list-unstyled" id="recentSubmenu">
					  <li>
						  <a href="/recent/index">Recent Activity</a>
					  </li>
					  
					</ul>
					</li>
	        </ul>

	        <div class="footer">
	        	<p>
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
					</p>
	        </div>

	      </div>
    	</nav>

        
      <div id="content" class="p-4 p-md-5 pt-5">
		  <%- include('../partials/errPartial.ejs') %>
		  
		  <p>
			  <%- body %>
		</p>
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

	<script src="/multistep.js">
	</script>
  </body>
</html>