<!doctype html>
<html lang="en">

<style>
	
</style>
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link id="multistep-css" rel="stylesheet" href="/multistep.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
	<link
    href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css"
    rel="stylesheet"
	/>
	<link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
	/>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	
	<script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
	<script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
	<script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
	<script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
	<script defer src="https://sdk.amazonaws.com/js/aws-sdk-2.250.1.min.js"></script>
	<!-- <script defer src="/javascripts/fileUpload.js"></script> -->


	

</head>
  <body>

	
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1><a href="index.html" class="logo">AMS</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/home">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
				<li>
                    <a href="#">Pending Item</a>
                </li>
	            </ul>
	          </li>
	          <li>
	              <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick = "backgroundChange(this)">User</a>
				  <ul class="collapse list-unstyled" id="userSubmenu">
					<li>
						<a href="/user/index">List Users</a>
					</li>
					<li>
						<a href="/user/new">New User</a>
					</li>
					<li>
						<a href="#">Delete User</a>
					</li>
					<li>
						<li class = 'onlyAdmin'>
							<a href="/user/other">Other Users</a>
						</li>
				  </ul> 	
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle onlyAdmin" onclick = "backgroundChange(this)">New Asset</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/asset/index">List Asset</a>
                </li>
                <li>
                    <a href="/asset/new">Register Asset</a>
                </li>
				<li>
                    <a href="/asset/trial">Register Trial</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
              </ul>
	          </li>
	          <li>
              <a class = 'onlyAdmin' href= "#auditSubmenu" data-toggle="collapse" aria-expanded="false" id = "auditSubmenuAnchor" class="dropdown-toggle hideAudit" onclick = "backgroundChange(this)">Audit</a>
			  <ul class="collapse list-unstyled" id="auditSubmenu">
                <li>
                    <a href="/audit/index">Pending Audits</a>
                </li>
				<li>
                    <a href="/audit/">Go Live</a>
                </li>
				</ul>
	          </li>
	          <li>
              <a class = 'onlyAdmin' id = 'regAssetType' href="#assetTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick = "backgroundChange(this)">Register Asset</a>
			  <ul class="collapse list-unstyled" id="assetTypeSubmenu">
                <li>
                    <a href="/assetType/index">List Asset Type</a>
                </li>
                <li >
                    <a href="/assetType/new">Register Asset Type</a>
                </li>
                
              </ul>
	          </li>
			  <li >
				<a class = 'onlyAdmin' href="#contractorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick = "backgroundChange(this)">Contractors</a>
				<ul class="collapse list-unstyled" id="contractorSubmenu">
				  <li>
					  <a href="/contractor/index">List Contractors</a>
				  </li>
				  <li>
					  <a href="/contractor/new">Register Contractor</a>
				  </li>
				  
				</ul>
				</li>
				<li>
					<a href="#overviewSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle onlyAdmin" onclick = "backgroundChange(this)">Overview</a>
					<ul class="collapse list-unstyled" id="overviewSubmenu">
					  <li>
						  <a href="/overview/national">National</a>
					  </li>
					  <li>
						  <a href="/overview/metrics">Metrics</a>
					  </li>
					</ul> 	
				</li>
				<li>
					<a href="#recentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick = "backgroundChange(this)">Recents</a>
					<ul class="collapse list-unstyled" id="recentSubmenu">
					  <li>
						  <a href="/recent/index">Recent Activity</a>
					  </li>
					  <li>
						<a href="/recent/index">LogOut</a>
						<form method="POST" action="/logout?_method=DELETE">
							<button class = 'btn btn-delete' type="submit">LogOutNow</button>
						</form>
					</li>
					  
					</ul>
				</li>
	        </ul>
			<form method="POST" action="/logout?_method=DELETE">
				<button class = 'btn btn-delete' type="submit">LogOut</button>
			</form>
	        <div class="footer">
	        	<p>
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
					</p>
	        </div>

	      </div>
    	</nav>

        
      <div id="content" class="p-4 p-md-5 pt-5">
		  
		  <p>
			  <%- body %>
		</p>
      </div>
		</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

	<script src="/multistep.js"></script>
	<script>
		function backgroundChange(this2){
			this2.classList.toggle('menuBackgroundColorChange');
		}
	</script>
  </body>
</html>