<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuYptvwFszij8WWugKw5jQ6PkhiYqBo2c&callback=initMap&libraries=&v=weekly">
    </script>

</head>
<body>
    <div class='div-cont'>
        <div id = 'nationalMap'>Map goes in here</div>
        <div class = 'div-ctrl'>
            <p><select onchange="categoryOptions(this)">
                <option value= "/overview/user/index">Users</option>
                <option value= "/overview/assetType/index">Asset Types</option>
                <option value= "/overview/asset/index">Assets</option>
                <option value= "/overview/contractor/index">Contractor</option>
            </select>
            </p>

            <p><select id='selVar'>
                <option>Regulatory Officers</option>
                <option>Admin Officers</option>
                <option>Laboratory Officers</option>
                <option>Account Officers</option>
                <option>Legal Officers</option>
            </select>
            </p>

            <p>
                <button>Map Spread</button>
            </p>
        </div>
    <div>
  <script defer>
      let mapSet = new google.maps.Map(document.getElementById('nationalMap'), {zoom:6, center:{lat:9, lng:7}});
      console.log(mapSet);
    
      let getVar = new XMLHttpRequest();

      var selVarGrab = document.getElementById('selVar');

      var markerArr = []
      function categoryOptions(this2){
        getVar.onreadystatechange = function(){
            if(getVar.readyState == 4 && getVar.status == 200){ 
            console.log(getVar.response);
            let responseObj = JSON.parse(getVar.response);
            // console.log(responseObj[48].geoCoord);
            responseObj.forEach(item=>{
                console.log(item.geoCoord);
                markerArr.push(item.geoCoord);
            });

            markerArr.forEach(marker=>{
                new google.maps.Marker({
                    position: {lat:+marker['lat'], lng:+marker['lng']},
                    map:mapSet,
                    title: "Hello World!",
                    draggable:true
                });
            })
            
        }
            // selVarGrab
            
        }



        getVar.open("GET", this2.value, true);
        getVar.send()
      }
  </script>
</body>
</html>

