<div class="user-assign-deAssign">
    <button onclick="showAssetList()" class='assignShowButton'><%=btnVal%></button>
    <button onclick="userAssetAssign(this)">Assign</button>
    <button onclick = "userAssetDeassign(this)">DeAssign</button>
</div>
<div class="user-assets-div">Assigned Assets</div>
<div><a class ="done-btn btn btn-deActivate" href= "/users/new" >Done</a></button></div>