<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = 'noConfirmation'>
        <h1>Detail Page</h1>
        <h2>Asset Name: <%=asset.assetName%></h2>
        <h2>Presently assigned to: <%=asset.assetUserHistory[0].firstName%></h2>
        <h2>State: <%=asset.assetUserHistory.at(-1).state%></h2>
        <h2>Traceability: <%=asset.assetCode%></h2>
    </div>
</body>
</html>