<h2>List of  Contractors </h2>

<form action = '/assets' method = 'GET'>
    <div>
        <input type="text" name="contractorName" value = <%=contractor.contractorCompanyName %> >
    </div>

    <div>
        <input type="date" name="contractorDate" value = <%=contractor.contractorCompanyName %> >
    </div>
    <button type="submit">Search</button>
</form>
<br/>

<% if (locals.contractor != null){ %>
    <%= 'There are assets' %>
    <%  contractor.forEach(contractor=>{%>
        <p><%=contractor.contractorCompanyName%></p>
    <%})%>
<% } %>