<h2>Nothing here</h2>

<form>
  <label for="serialInpt">Serial Number</label>
  <input type="text" value="<%=locals.asset%>" id="serialInpt">

  <label for="serialInpt">LongLat</label>
  <input type="text" value="<%=locals.lngLat%>" id="serialInpt">
</form>

  <h1><%=locals.asset%></h1>
 

    