.profileCreatedMsgDivCont{
    text-align: center;
}

.profileCreatedMsg{
    color:green;
}

.user-name{
    font-size: 1.5rem;

}

.user-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-show-div{
display: grid;
grid-template-columns: 100% 0%;
width:1276px;
transition:  0.4s;
/* width:100vw; */

}

.user-show-div2{
    grid-template-columns: 60% 40%;
    /* width: 80vw; */
}

.user-show-div3 > #assetList{
    width:100%;
    display:block;
}

.user-assets-div, .user-assetsOwn-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid red; 
}

.divContLi{
    background-color: yellow;
    height:60px;
    margin-bottom:5px;
}

.divContLi:hover a{
    color:white;
    text-decoration:dashed;
}

.divContLi:hover{
    background-color: rgb(172, 182, 86);
    transform:scale(1.04);
    color:white;
}


.hideAudit{
    display: none;
}


.divMiniLi button{
    background-color: white;
    border: none;
    transition: all 0.5s;
    margin-right:5px;
}
.divMiniLi:hover button{
    background-color: silver;
    border:1px black solid
}

.divMiniLi:hover li{
    color:black;
}

.approvedRequisition{
    color:green;
}
