.user-name{
    font-size: 1.5rem;

}

.user-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-show-div{
display: grid;
grid-template-columns: 90% 10%;
transition: 0.4s;
width:80vw;
}

.user-show-div2{
    grid-template-columns: 70% 30%;
}

.user-show-div3 > #assetList{
    width:100%;
}