.user-name{
    font-size: 1.5rem;

}

.user-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-show-div{
display: grid;
grid-template-columns: 100% 0%;
width:1276px;
transition:  0.4s;
/* width:100vw; */

}

.user-show-div2{
    grid-template-columns: 60% 40%;
    /* width: 80vw; */
}

.user-show-div3 > #assetList{
    width:100%;
    display:block;
}

.user-assets-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid red; 
}